DB_PROVIDER=''
# DB Name can only be the following three options: mariadb, mongodb, mongoose

DB_URI=''
DB_HOST='localhost',
DB_USER='root',
DB_PASSWORD='testdb123',
DB_PORT=3306,
DB_NAME='geo_news',

JWT_SECRET_KEY=''

SMTP_PASS=''
SMTP_USER=''

# Must set this in minutes only
OTP_EXPIRATION_TIME=''